@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/@uiw/reset.css@1.0.6/reset.css');

    /* Estilos tipograficos */
    h1{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    p{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    
    /* Estilo de navegacion */
    
    nav{
        display: flex;
        justify-content: space-between;
    
    }
    header li{
        list-style: none;
        display: inline-block;
        padding: 1ren 1rem;
        font-family: "monserrat"; 
        font-style: normal;
    }
        .columnas {
            columns: 3 200px;
            column-gap: 1rem;
        }       
        /*Imagen */
        img{
            width: 20%;
            object-fit: cover;
        }

    .clip-me {
        clip-path: polygon(50% 0, 70% 22%, 98% 35%, 77% 61%, 88% 96%, 50% 76%, 14% 98%, 24% 61%, 2% 35%, 27% 22%);
    }
        .recortado{
            float: left;
            clip-path: circle(30% at 50% 50%);
            shape-outside: circle(50%);
    
        }
    
        /* Margen del contenido principal */
        main{
            margin: 0 1rem;
        }

        